/*---------------------------------
    Top Area
---------------------------------*/
#pageContentContainer {
    -fx-background-color: linear-gradient(#292929, #333333);

    /* Variable */
    -slider-filled-track-color: #E50913;
    -slider-track-color: #505050;
}

#returnToPreviousViewButtonBox {
    -fx-padding: 35px 0px 0px 35px;
}

#returnToPreviousViewButton {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

#returnToPreviousViewButton FontAwesomeIconView {
    -fx-text-fill: #ABABAB;
    -fx-font-size: 18px;
}

#returnToPreviousViewButton:hover > FontAwesomeIconView{
    -fx-text-fill: white;
}

/*---------------------------------
    Footer Area
---------------------------------*/
#footerBox {
    -fx-background-color: linear-gradient(rgba(28,28,28,0), #1C1C1C);
    -fx-padding: 30px 140px 30px 140px;
    -fx-spacing: 10px;
}

#footerBox .mediaControlButton {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

#footerBox .mediaControlButton:hover > .mediaControlIcon {
    -fx-text-fill: white;
}

#footerBox .mediaControlIcon {
    -fx-text-fill: #dcdcdc;
    -fx-font-size: 21px;
}

#footerBox #mediaProgressBarBox #mediaProgressBar {
    -fx-cursor: hand;
    -mediaProgressBar-filled-track-color: -slider-track-color;
}

#footerBox #mediaProgressBarBox #mediaProgressBar .thumb {
    -fx-background-color: -slider-filled-track-color;
}

#footerBox #mediaProgressBarBox #mediaProgressBar .track {
    -fx-background-color: -mediaProgressBar-filled-track-color;
}

#footerBox #timersBox {
    -fx-padding: 0px 3px 0px 3px;
}

#footerBox #timersBox Label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

#footerBox #volumeControlBox {
    -fx-padding: 0px 0px 0px 3px;
    -fx-spacing: 6px;
    -fx-alignment: center-left;
}

#footerBox #volumeControlBox,
#footerBox #spacerRegion {
    -fx-min-width: 145px;
    -fx-pref-width: 145px;
    -fx-max-width: 145px;
}

#footerBox #volumeControlBox #volumeButton {
    -fx-alignment: center-left;
    -fx-min-width: 25px;
    -fx-pref-width: 25px;
    -fx-max-width: 25px;
}

#footerBox #volumeControlBox #volumeBar {
    -volumeBar-filled-track-color: -slider-filled-track-color;
    -fx-min-width: 100px;
    -fx-pref-width: 100px;
    -fx-max-width: 100px;
    -fx-cursor: hand;
}

#footerBox #volumeControlBox #volumeBar .thumb {
    -fx-background-color: -slider-filled-track-color;
}

#footerBox #volumeControlBox #volumeBar .track {
    -fx-background-color: -volumeBar-filled-track-color;
}

#footerBox #mediaControlsBox {
    -fx-spacing: 45px;
    -fx-alignment: center;
}